* {
	box-sizing: border-box;
}


body {
	background-color: #EBE6F4;
	background-size: 600% 600%;
	height: 100vh;
	overflow: hidden;
	
	margin-top: 100px;
	margin-left: -80px;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	
	font-family: sans-serif;
}

@keyframes gradient {
	0%{background-position: 0% 50%;}
	
	50% {background-position: 100% 50%;}
	
	100%{background-position: 0% 50%;}
}


.container {
	height: 500px;
	width: 500px;
	margin-top:-80px;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center; 
	align-items: center;
}

.video{
	margin-top: 20px;
	height: 250px;
	width: 250px;
	margin-right:300px;
	
}


.divScroll {
	margin-top:100px;
overflow:scroll;
height:350px;
width:550px;
}

#coinPic {
	height: 100px;
	width: 100px;
}

#coinPicView {
	height: 300px;
	width: 300px;
}

#viewCoin {
	margin-top: 250px;
}

#priceTracker {
	position: relative;
	float: center;
	margin-top: 20px;
	
}
	


